/* @import url("https://fonts.googleapis.com/css2?family-Roboto:wgh");
* {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 400px;
  height: 280px;
  margin: 0 auto;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.header h2 {
  font-size: 10 px;
  text-align: center;
  padding-top: 10px;
}
.content {
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  color: #5d5656;
}
#button {
  width: 380px;
  height: 30px;
  line-height: 30px;
  background: rgb(95, 95, 133);
  color: #fff;
  border: 1px solid rgb(73, 73, 165);
  padding: 0;
  margin-bottom: 5px;
  margin: 10px 10px;
  font-size: 15px;
}
#yazı2 {
  display: block;
  width: 360px;
  height: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border: 1px solid #fff;
} */

.mainArea {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 900px;
}
